<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>RG Falso - Listagem de RG</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-sm bg-info">
      <a class="navbar-brand text-white font-weight-bold" href="/">Sistema de Controle de RG</a>   
    </nav>

    <div class="container mt-2">

      <div class="text-center mb-5">
        <h1></h1>
      </div>

      <div class="row text-center">
        
        <div class="col-md-3">
            <div class="card border-secondary bg-light">
              <div class="card-header font-weight-bold">
                Menu
              </div>
                <ul class="list-group">
                  <a href="/cadastrar" class="list-group-item list-group-item-action">Cadastrar RG</a>
                  <a href="/pesquisa" class="list-group-item list-group-item-action">Pesquisar RG</a>
                </ul>
            </div>
        </div>

        <div class="col-md-9">

            {if $error != "" }
            <div>
              <h4 class="text-danger">{$error}</h4>
            </div>

            {else}
            <div class="card border-secondary">
              <div class="card-header font-weight-bold bg-light">
                <h5>Listagem de RG</h5>
              </div>

              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">RG</th>
                    <th scope="col">Ofício</th>
                    <th scope="col">Detalhar</th>
                    <th scope="col">Excluir</th>
                  </tr>
                </thead>
                
                <tbody>
                  {section name=i loop=$dados}
                  <tr>
                    <th scope="row">{$dados[i].idrg}</th>
                    <td>{$dados[i].nome}</td>
                    <td>{$dados[i].num_rg}</td>
                    <td><a class="btn btn-primary" target="_blank" href="upload/{$dados[i].oficio}">Oficio</a></td>
                    <td><a class="btn btn-success" href="/editar/{$dados[i].idrg}">Editar</a></td>
                    <td><a class="btn btn-warning" target="_blank" href="#">Detalhar</a></td>
                    <td><a class="btn btn-danger" href="#"><i class="fas fa-trash-alt"></i></i></a></td>
                  </tr>
                    {/section}          
                </tbody>
              </table>
            {/if}
            </div>
        </div>
      </div>
      
    </div>



    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="application/javascript">
      $('input[type="file"]').change(function(e){
          var fileName = e.target.files[0].name;
          $('.custom-file-label').html(fileName);
      });
    </script>
  </body>
</html>